{% extends "base_template_admin.html" %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <style>
        .results tr[visible='false'],
        .no-result {
            display: none;
        }

        .results tr[visible='true'] {
            display: table-row;
        }

        .counter {
            padding: 8px;
            color: #ccc;
        }
    </style>
</head>

<body>

    <span class="counter pull-right"></span>
    <table class="table table-hover table-bordered results">
        <thead>
            <tr>
                <th class="col-md-1 col-xs-1">Order id</th>
                <th class="col-md-2 col-xs-2">Order date</th>
                <th class="col-md-2 col-xs-2">Customer</th>
                <th class="col-md-2 col-xs-2">Products</th>
                <th class="col-md-2 col-xs-2">Product Category</th>
                <th class="col-md-2 col-xs-2">Product Price</th>
                <th class="col-md-2 col-xs-2">Product guaranty</th>
                <th class="col-md-2 col-xs-2">Total Order</th>
            </tr>
            <tr class="warning no-result">
                <td colspan="4"><i class="fa fa-warning"></i> No result</td>
            </tr>
        </thead>
        {% for order in orders %}
        <form method="POST">
            <tbody>
                <td>{{order.order_id}}</td>
                <td>{{order.ordered_date}}</td>
                <td>{{order.user.first_name}} {{order.user.last_name}}</td>
                <td>
                    {% for product in order.products %}
                    {{product.product_name}}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for product in order.products %}
                    {{product.product_category}}<br>
                    {% endfor %}
                </td>
                <td>
                    {% set total_value = namespace(value=0) %}
                    {% for product in order.products %}
                    {{product.product_price}}$<br>
                    {% set total_value.value = total_value.value + product.product_price %}
                    {% endfor %}
                </td>
                <td>
                    {% for product in order.products %}
                    {{product.guaranty}}<br>
                    {% endfor %}
                </td>
                <td>{{total_value.value}}$</td>
            </tbody>
        </form>
        {% endfor %}
    </table>

    <center>
        {% for index in range(1,pages+1) %}
        <a href="/admin/orders?page={{index}}">{{index}}</a>
        {% endfor %}
    </center>


</body>

</html>
{% endblock %}