{% extends "base_template.html" %}
{% block content %}

<head>
    <style>
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <center>
        {% if address %}
        This order will be sent to the next address: Country : {{address.country}}  /  City : {{address.city}}  / Phone number: {{address.phone_number}}  /  Full address: {{address.full_address}} <form method="POST"><button type="submit" class="btn btn-danger" name="delete_address" value="{{user.cid}}">Delete address</button></form>
        {% endif %}
        <table>
            <thead>
                <th>Options</th>
                <th>Product name</th>
                <th>Product category</th>
                <th>Product price</th>
                <th>Product guaranty</th>
                <th>Image</th>
            </thead>
            {% for element in user.cart %}
            <form method="POST">
                <tbody>
                    <td> <button type="submit" class="btn btn-danger" value="{{element.cart_product_id}}"
                            name="remove"><i class="icon-shopping-cart"></i> Remove</button></td>
                    <td>{{element.product_name}}</td>
                    <td>{{element.product_category}}</td>
                    <td>{{element.product_price}}$</td>
                    <td>{{element.guaranty}}</td>
                    <td><img src="{{element.product_image}}" width="120" height="65"></td>
                </tbody>
            </form>
            {% endfor %}
            {% if user.cart|length > 0 %}
            <tbody>
                <td>Total cart:</td>
                <td></td>
                <td></td>
                <td>{{total_price}}$</td>
                <form method="POST">
                    {% if address %}
                    <td><button type="submit" class="btn btn-primary" name="send_order"><i
                                class="icon-shopping-cart"></i> Send order</button></td>
                    </form>
                    {% else %}
                    <td><button type="button" class="btn btn-primary" name="open_modal" data-toggle="modal" data-target="#addAddress"><i
                        class="icon-shopping-cart"></i> Send order</button></td>
                    {% endif %}
                <form method="POST">
                    <td><button type="submit" class="btn btn-danger" name="empty_cart"><i
                                class="icon-shopping-cart"></i> Empty cart</button></td>
                </form>
            </tbody>
            {% endif %}
        </table>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </center>
    <form method="POST">
        <!-- Modal -->
        <div class="modal fade" id="addAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype=multipart/form-data>
                            <label for="country">Country</label>
                            <input type="text" id="country" name="address_country"><br>
                            <label for="city">City</label>
                            <input type="text" id="city" name="address_city"><br>
                            <label for="phone_number">Phone number</label>
                            <input type="tel" id="phone_number" name="address_phone_number"><br>
                            <label for="full_address">Full address</label>
                            <input type="text" id="full_address" name="full_address"></textarea><br>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-primary" name="add_address" id="user_id">Add address</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
{% endblock %}