<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <title>Login Page</title>

</head>

<body>

    <section class="login-section">
        <h3>Login</h3>
        <form method="POST" class="form-horizontal">


            <input type="email" name="email" autofocus="autofocus" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            {% if data.invalid_password==True %}
            <div role="alert">
                <center style="color: red;">{{data.message}}</center>
            </div>
            <br />
            {% endif %}
            {% if data.invalid_email==True %}
            <div role="alert">
                <center style="color: red;">{{data.message}}</center>
            </div>
            <br />
            {% endif %}
            <input type="submit" value="Login">
        </form>

        <p>forgot your password? <a href="#">Reset password</a></p>


        <p class="button-text">Don't have an accout? <a href="/register">Sign up</a></p>
    </section>

</body>

</html>